.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #161619;
    height: 64px;
    width:317px;
    border-radius: 0px 0px 10px 10px;
    margin-top: -25px;
}
.mail{
    height: px;
}